<form [formGroup]="loginForm" (ngSubmit)="_onSubmit()" class="form-container">
  <!-- תעודת זהות -->
  <label for="id">תעודת זהות</label>
  <herum-input-field type="text" formControlName="id"></herum-input-field>
  <div
    *ngIf="loginForm.get('id')?.invalid && loginForm.get('id')?.dirty"
    class="error"
  >
    <span *ngIf="loginForm.get('id')?.errors?.['required']">
      חובה למלא תעודת זהות
    </span>
    <span
      *ngIf="loginForm.get('id')?.errors?.['minlength'] || loginForm.get('id')?.errors?.['maxlength']"
    >
      תעודת זהות חייבת להכיל בדיוק 9 תווים
    </span>
  </div>

  <!-- מספר אישי -->
  <label for="armyId">מספר אישי</label>
  <herum-input-field type="text" formControlName="armyId"></herum-input-field>
  <div
    *ngIf="loginForm.get('armyId')?.invalid && loginForm.get('armyId')?.dirty"
    class="error"
  >
    <span *ngIf="loginForm.get('armyId')?.errors?.['required']">
      חובה למלא מספר אישי
    </span>
    <span *ngIf="loginForm.get('armyId')?.errors?.['pattern']">
      המספר האישי חייב להכיל רק ספרות
    </span>
    <span *ngIf="loginForm.get('armyId')?.errors?.['minlength']">
      המספר האישי חייב להכיל לפחות 6 ספרות
    </span>
  </div>

  <!-- כפתור התחברות -->
  <div class="mt-2">
    <herum-button
      type="primary"
      [attr.type]="'submit'"
      [disabled]="loginForm.invalid"
      class="w-100"
    >
      התחברות לאתר
    </herum-button>
  </div>
</form>
